* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(25, 42, 190);
    --secondaryColor: #4a90e233;
    --accentColor: #ff9800;
    --darkText: #1a1a1a;
    --lightText: #f5f5f5;
    --backgrounColor: #EAEFF5;
    --contrastColor: #be192a;
    --alternativeAccent: #00bfa6;
}

.headr2 {
    color: var(--lightText);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    text-align: center;
    animation: mirage 9s 1  forwards;
    /*background: rgba(31, 29, 68,0.9);*/
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
    color: var(--lightText);
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('./pics/main2.jpg') center/cover fixed no-repeat ;
}

.headr2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(25, 42, 190.1),rgba(0,0,0,0.6));
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    min-height: 50vh;
    opacity: 0.4;
}

@keyframes mirage {
    10% {
        transform: translateX(20px);
    }
    40% {
        transform: rotatex(50deg);
    }
    60% {
        background: url('./pics/coding3.jpg');
    }
    80% {
        transform: translateY(40px);
    }
    /* 95% {
        background: url('./pics/work.jpg');
    }
        */
}
